.container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  min-width: 120px;
  background: var(--white);
  border: 1px solid var(--gray-600);
  box-shadow: var(--shadow);
  z-index: 2;
}

.alignRight {
  left: auto;
  right: 0;
}

.item {
  width: 100%;
  border: none;
  background: transparent;
  text-align: left;
  padding: 8px 16px;
  cursor: pointer;
}

.item:hover {
  background-color: var(--purple-200);
}

.item:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
