:root {
  --white: #ffffff;
  --gray-100: #f8f9fa;
  --gray-200: #dfe6e9;
  --gray-400: #b2bec3;
  --gray-600: #636e72;
  --gray-800: #2d3436;
  --purple-200: #cdc9ff;
  --purple-500: #6c5ce7;
  --purple-shadow: #6c5ce74d;
  --teal-50: #e6fffa;
  --teal-500: #00b894;
  --green-500: #4caf50;
  --red-50: #ffe6e6;
  --red-500: #ff5757;
  --orange-50: #fff4e6;
  --orange-500: #e17055;
  --radius-lg: 12px;
  --backdrop: hsla(0, 0%, 0%, 0.5);
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--gray-100);
  color: var(--gray-800);
  padding: 20px;
}

h2 {
  color: var(--gray-600);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h3 {
  color: var(--gray-600);
  margin-top: 0.25rem;
  margin-bottom: 0.6rem;
}

/* --- Dialog --- */
dialog:modal {
  margin: auto;
  max-width: 80%;
  color: var(--gray-800);
  background-color: var(--white);
}

dialog::backdrop {
  background-color: var(--backdrop);
}
