.container {
  display: inline-flex;
}

.triggerButton {
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 8px;
}

.emoteOnly {
  font-size: 1.25rem;
  line-height: 1;
}

.triggerDisabled {
  opacity: 0.5;
}
